<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
        font-size: 8px; /* Reduce font size */
      }

      .invoice {
        background-color: #fff;
        padding: 15px; /* Reduce padding */
        margin: 0 auto;
        max-width: 500px; /* Reduce max width */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .details-container {
        display: flex;
        justify-content: space-between;
      }

      .order-details {
        width: 48%; /* Adjust width to fit side by side */
      }

      .order-summary table {
        width: 100%;
        border-collapse: collapse;
      }

      /* .order-summary table, .order-summary th, .order-summary td {
    border: 1px solid #ddd;
} */
      .line {
        border-bottom: 1px solid #000;
      }

      .order-summary th,
      .order-summary td {
        padding: 6px; /* Reduce padding */
        text-align: left;
      }

      .order-summary tfoot td {
        font-weight: bold;
      }
      .lineup {
        border-top: 1px solid #000;
      }
      .order-summary tfoot tr:last-child td {
        font-size: 1.1em; /* Adjust total font size */
      }
    </style>
  </head>
  <body>
    <div class="invoice">
      <div class="company-details">
        <h3>Annapoorna Mithai</h3>
        <p>
          Annapoorna Mithai, 12/2, Ramnagar, Bypass road, Madurai <br />
          Contact: annapoornamithai@gmail.com &nbsp &nbsp GSTIN -
          33BCTPA8028E2ZP
        </p>
      </div>
      <hr />
      <div
        class="details-container"
        style="display: flex; justify-content: space-between"
      >
        <div class="order-details">
          <h3>Order details</h3>
          <p>Order Id : <%= order.orderId %></p>
          <p>Order Date : <%= order.orderDate %></p>
          <p>Payment: <%= order.paymentMethod %></p>
          <% if (order.preOrderDate) { %>
          <p>Pre-Order Date: <%= order.preOrderDate %></p>
          <% } %>
        </div>

        <div class="customer-details">
          <h3>Customer details</h3>
          <p>
            Name: <%= order.customerName %><br />
            Address: <%= order.customerAddress %><br />
            Mobile: <%= order.customerMobile %><br />
            Email: <%= order.customerEmail %>
          </p>
        </div>
      </div>
      <div class="order-summary">
        <h3>Order summary</h3>
        <hr />
        <table>
          <thead>
            <tr class="line">
              <th>Item</th>
              <th>Qty</th>
              <th>Price/Qty</th>
              <th>GST %</th>
              <th>GST</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <% order.orderItems.forEach(function(item) { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.quantity %></td>
              <td>₹<%= (Number(item.price)/item.quantity) %></td>
              <td><%= item.gst %></td>
              <td><%= (item.price * item.gst)/100 %></td>
              <td>₹<%= item.price+((item.price * item.gst)/100) %></td>
            </tr>
            <% }); %>
          </tbody>
          <tfoot>
            <!-- <tr class="lineup">
              <td colspan="3">Item Total</td>
              <td>₹<%= order.itemTotal %></td>
            </tr>
            <tr class="line">
              <td colspan="3">GST(12%)</td>
              <td>₹<%= order.gst %></td>
            </tr>
            <tr class="line">
              <td colspan="3">Delivery</td>
              <td>₹<%= order.delivery %></td>
            </tr> -->
            <tr class="lineup">
              <td colspan="3"><strong>Total</strong></td>
              <td><strong>₹<%= order.finalAmount %></strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </body>
</html>
